STRAVA_CLIENT_ID=your_client_id_here
STRAVA_CLIENT_SECRET=your_client_secret_here
STRAVA_REFRESH_TOKEN=your_refresh_token_here
POSTGRES_USER=strava_user
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=strava_datalake
POSTGRES_HOST=db # This matches the service name in docker-compose